/* .container{
  background-color: rgb(255, 255, 255);
  
}

h1{
  color: rgb(255, 0, 0);
  font-size: 555px;
}

.com{
  text-align: center;
} */

* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #ffffff;
  font-size: 20px;
  color: rgb(22, 67, 165);
}

.main{
  font-size: 100px;
  color: #000;
}

